In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME' 'STATUS', 'SPECIAL_CONSIDERATIONS'.
application_df = application_df.drop(columns = ['EIN', 'NAME', 'STATUS', 'SPECIAL_CONSIDERATIONS'])
application_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,INCOME_AMT,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,0,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1-9999,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,0,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,10000-24999,6692,1
4,T3,Independent,C1000,Heathcare,Trust,100000-499999,142590,1
...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,0,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,0,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,0,5000,0
34297,T5,Independent,C3000,ProductDev,Association,0,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1M-5M,36500179,0

In [3]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE      17
AFFILIATION            6
CLASSIFICATION        71
USE_CASE               5
ORGANIZATION           4
INCOME_AMT             9
ASK_AMT             8747
IS_SUCCESSFUL          2
dtype: int64

In [4]:

# Drop the non-beneficial ID columns, 'ASK_AMT	'.
application_df = application_df.drop(columns = ['ASK_AMT'])
application_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,INCOME_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,0,1
1,T3,Independent,C2000,Preservation,Co-operative,1-9999,1
2,T5,CompanySponsored,C3000,ProductDev,Association,0,0
3,T3,CompanySponsored,C2000,Preservation,Trust,10000-24999,1
4,T3,Independent,C1000,Heathcare,Trust,100000-499999,1
...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,0,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,0,0
34296,T3,CompanySponsored,C2000,Preservation,Association,0,0
34297,T5,Independent,C3000,ProductDev,Association,0,1
34298,T3,Independent,C1000,Preservation,Co-operative,1M-5M,0

In [5]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE    17
AFFILIATION          6
CLASSIFICATION      71
USE_CASE             5
ORGANIZATION         4
INCOME_AMT           9
IS_SUCCESSFUL        2
dtype: int64

In [6]:

# Look at APPLICATION_TYPE value counts for binning
type_counts = application_df['APPLICATION_TYPE'].value_counts()
type_counts

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [7]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(type_counts.iloc[8:].index)
cutoff_value = 528

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other_app_type")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3                27037
T4                 1542
T6                 1216
T5                 1173
T19                1065
T8                  737
T7                  725
T10                 528
Other_app_type      276
Name: count, dtype: int64

In [8]:

# Look at CLASSIFICATION value counts for binning
classification_types = application_df['CLASSIFICATION'].value_counts()
classification_types

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [9]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(classification_types.iloc[5:].index)
cutoff_value_classifications = 1883

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other_classification")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000                   17326
C2000                    6074
C1200                    4837
Other_classification     2261
C3000                    1918
C2100                    1883
Name: count, dtype: int64

In [10]:
#convert the categorical data in numeric using get_dummies()
dummies = pd.get_dummies(application_df)
dummies.head()

,IS_SUCCESSFUL,APPLICATION_TYPE_Other_app_type,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,APPLICATION_TYPE_T8,...,ORGANIZATION_Trust,INCOME_AMT_0,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M
0,1,False,True,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,False,False
1,1,False,False,False,True,False,False,False,False,False,...,False,False,True,False,False,False,False,False,False,False
2,0,False,False,False,False,False,True,False,False,False,...,False,True,False,False,False,False,False,False,False,False
3,1,False,False,False,True,False,False,False,False,False,...,True,False,False,True,False,False,False,False,False,False
4,1,False,False,False,True,False,False,False,False,False,...,True,False,False,False,True,False,False,False,False,False

In [11]:
# Split our preprocessed data into our features and target arrays
y = dummies['IS_SUCCESSFUL'].values
X = dummies.drop(columns='IS_SUCCESSFUL').values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [12]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [13]:
# (SECOND ATTEMPT - ACCURACY 72%)
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
input_features_total = len(X_train[0])
hidden_nodes_layer1 = 10
hidden_nodes_layer2 = 10

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim = input_features_total, activation = "relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation = "relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 10)                400

 dense_1 (Dense)             (None, 10)                110

 dense_2 (Dense)             (None, 1)                 11

=================================================================
Total params: 521 (2.04 KB)
Trainable params: 521 (2.04 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [14]:

# Compile the model (SECOND ATTEMPT)
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [15]:

# Train the model (SECOND ATTEMPT)
fit_model = nn.fit(X_train_scaled,y_train,epochs=100)

Epoch 1/100
804/804 [==============================] - 0s 272us/step - loss: 0.6177 - accuracy: 0.6859
Epoch 2/100
804/804 [==============================] - 0s 260us/step - loss: 0.5657 - accuracy: 0.7224
Epoch 3/100
804/804 [==============================] - 0s 258us/step - loss: 0.5594 - accuracy: 0.7265
Epoch 4/100
804/804 [==============================] - 0s 257us/step - loss: 0.5565 - accuracy: 0.7281
Epoch 5/100
804/804 [==============================] - 0s 257us/step - loss: 0.5546 - accuracy: 0.7283
Epoch 6/100
804/804 [==============================] - 0s 258us/step - loss: 0.5535 - accuracy: 0.7301
Epoch 7/100
804/804 [==============================] - 0s 258us/step - loss: 0.5525 - accuracy: 0.7308
Epoch 8/100
804/804 [==============================] - 0s 260us/step - loss: 0.5516 - accuracy: 0.7307
Epoch 9/100
804/804 [==============================] - 0s 259us/step - loss: 0.5511 - accuracy: 0.7303
Epoch 10/100
804/804 [==============================] - 0s 259us/step - loss: 0.5506 - accuracy: 0.7302
Epoch 11/100
804/804 [==============================] - 0s 259us/step - loss: 0.5502 - accuracy: 0.7318
Epoch 12/100
804/804 [==============================] - 0s 258us/step - loss: 0.5499 - accuracy: 0.7316
Epoch 13/100
804/804 [==============================] - 0s 258us/step - loss: 0.5496 - accuracy: 0.7315
Epoch 14/100
804/804 [==============================] - 0s 258us/step - loss: 0.5493 - accuracy: 0.7304
Epoch 15/100
804/804 [==============================] - 0s 258us/step - loss: 0.5490 - accuracy: 0.7315
Epoch 16/100
804/804 [==============================] - 0s 258us/step - loss: 0.5487 - accuracy: 0.7323
Epoch 17/100
804/804 [==============================] - 0s 257us/step - loss: 0.5485 - accuracy: 0.7334
Epoch 18/100
804/804 [==============================] - 0s 258us/step - loss: 0.5484 - accuracy: 0.7324
Epoch 19/100
804/804 [==============================] - 0s 258us/step - loss: 0.5479 - accuracy: 0.7323
Epoch 20/100
804/804 [==============================] - 0s 257us/step - loss: 0.5478 - accuracy: 0.7325
Epoch 21/100
804/804 [==============================] - 0s 257us/step - loss: 0.5474 - accuracy: 0.7331
Epoch 22/100
804/804 [==============================] - 0s 257us/step - loss: 0.5475 - accuracy: 0.7327
Epoch 23/100
804/804 [==============================] - 0s 258us/step - loss: 0.5472 - accuracy: 0.7327
Epoch 24/100
804/804 [==============================] - 0s 256us/step - loss: 0.5468 - accuracy: 0.7319
Epoch 25/100
804/804 [==============================] - 0s 257us/step - loss: 0.5466 - accuracy: 0.7330
Epoch 26/100
804/804 [==============================] - 0s 256us/step - loss: 0.5469 - accuracy: 0.7327
Epoch 27/100
804/804 [==============================] - 0s 257us/step - loss: 0.5467 - accuracy: 0.7335
Epoch 28/100
804/804 [==============================] - 0s 256us/step - loss: 0.5464 - accuracy: 0.7336
Epoch 29/100
804/804 [==============================] - 0s 256us/step - loss: 0.5463 - accuracy: 0.7333
Epoch 30/100
804/804 [==============================] - 0s 256us/step - loss: 0.5462 - accuracy: 0.7329
Epoch 31/100
804/804 [==============================] - 0s 258us/step - loss: 0.5462 - accuracy: 0.7338
Epoch 32/100
804/804 [==============================] - 0s 268us/step - loss: 0.5456 - accuracy: 0.7343
Epoch 33/100
804/804 [==============================] - 0s 258us/step - loss: 0.5461 - accuracy: 0.7334
Epoch 34/100
804/804 [==============================] - 0s 257us/step - loss: 0.5458 - accuracy: 0.7334
Epoch 35/100
804/804 [==============================] - 0s 257us/step - loss: 0.5457 - accuracy: 0.7337
Epoch 36/100
804/804 [==============================] - 0s 259us/step - loss: 0.5455 - accuracy: 0.7322
Epoch 37/100
804/804 [==============================] - 0s 259us/step - loss: 0.5454 - accuracy: 0.7333
Epoch 38/100
804/804 [==============================] - 0s 257us/step - loss: 0.5453 - accuracy: 0.7332
Epoch 39/100
804/804 [==============================] - 0s 257us/step - loss: 0.5452 - accuracy: 0.7346
Epoch 40/100
804/804 [==============================] - 0s 255us/step - loss: 0.5449 - accuracy: 0.7343
Epoch 41/100
804/804 [==============================] - 0s 256us/step - loss: 0.5449 - accuracy: 0.7345
Epoch 42/100
804/804 [==============================] - 0s 256us/step - loss: 0.5446 - accuracy: 0.7345
Epoch 43/100
804/804 [==============================] - 0s 256us/step - loss: 0.5448 - accuracy: 0.7338
Epoch 44/100
804/804 [==============================] - 0s 256us/step - loss: 0.5445 - accuracy: 0.7343
Epoch 45/100
804/804 [==============================] - 0s 256us/step - loss: 0.5443 - accuracy: 0.7347
Epoch 46/100
804/804 [==============================] - 0s 256us/step - loss: 0.5446 - accuracy: 0.7356
Epoch 47/100
804/804 [==============================] - 0s 256us/step - loss: 0.5445 - accuracy: 0.7355
Epoch 48/100
804/804 [==============================] - 0s 256us/step - loss: 0.5444 - accuracy: 0.7359
Epoch 49/100
804/804 [==============================] - 0s 257us/step - loss: 0.5441 - accuracy: 0.7353
Epoch 50/100
804/804 [==============================] - 0s 256us/step - loss: 0.5441 - accuracy: 0.7345
Epoch 51/100
804/804 [==============================] - 0s 256us/step - loss: 0.5438 - accuracy: 0.7341
Epoch 52/100
804/804 [==============================] - 0s 259us/step - loss: 0.5443 - accuracy: 0.7343
Epoch 53/100
804/804 [==============================] - 0s 257us/step - loss: 0.5440 - accuracy: 0.7352
Epoch 54/100
804/804 [==============================] - 0s 261us/step - loss: 0.5438 - accuracy: 0.7344
Epoch 55/100
804/804 [==============================] - 0s 259us/step - loss: 0.5438 - accuracy: 0.7348
Epoch 56/100
804/804 [==============================] - 0s 258us/step - loss: 0.5439 - accuracy: 0.7349
Epoch 57/100
804/804 [==============================] - 0s 257us/step - loss: 0.5440 - accuracy: 0.7356
Epoch 58/100
804/804 [==============================] - 0s 257us/step - loss: 0.5435 - accuracy: 0.7359
Epoch 59/100
804/804 [==============================] - 0s 257us/step - loss: 0.5437 - accuracy: 0.7346
Epoch 60/100
804/804 [==============================] - 0s 261us/step - loss: 0.5438 - accuracy: 0.7350
Epoch 61/100
804/804 [==============================] - 0s 257us/step - loss: 0.5437 - accuracy: 0.7353
Epoch 62/100
804/804 [==============================] - 0s 257us/step - loss: 0.5435 - accuracy: 0.7349
Epoch 63/100
804/804 [==============================] - 0s 257us/step - loss: 0.5432 - accuracy: 0.7347
Epoch 64/100
804/804 [==============================] - 0s 256us/step - loss: 0.5436 - accuracy: 0.7348
Epoch 65/100
804/804 [==============================] - 0s 257us/step - loss: 0.5432 - accuracy: 0.7348
Epoch 66/100
804/804 [==============================] - 0s 257us/step - loss: 0.5432 - accuracy: 0.7358
Epoch 67/100
804/804 [==============================] - 0s 257us/step - loss: 0.5429 - accuracy: 0.7351
Epoch 68/100
804/804 [==============================] - 0s 257us/step - loss: 0.5430 - accuracy: 0.7350
Epoch 69/100
804/804 [==============================] - 0s 257us/step - loss: 0.5431 - accuracy: 0.7357
Epoch 70/100
804/804 [==============================] - 0s 257us/step - loss: 0.5428 - accuracy: 0.7362
Epoch 71/100
804/804 [==============================] - 0s 257us/step - loss: 0.5430 - accuracy: 0.7362
Epoch 72/100
804/804 [==============================] - 0s 266us/step - loss: 0.5428 - accuracy: 0.7353
Epoch 73/100
804/804 [==============================] - 0s 258us/step - loss: 0.5426 - accuracy: 0.7357
Epoch 74/100
804/804 [==============================] - 0s 258us/step - loss: 0.5425 - accuracy: 0.7358
Epoch 75/100
804/804 [==============================] - 0s 257us/step - loss: 0.5428 - accuracy: 0.7362
Epoch 76/100
804/804 [==============================] - 0s 260us/step - loss: 0.5427 - accuracy: 0.7352
Epoch 77/100
804/804 [==============================] - 0s 260us/step - loss: 0.5428 - accuracy: 0.7360
Epoch 78/100
804/804 [==============================] - 0s 256us/step - loss: 0.5427 - accuracy: 0.7358
Epoch 79/100

804/804 [==============================] - 0s 258us/step - loss: 0.5425 - accuracy: 0.7363
Epoch 80/100
804/804 [==============================] - 0s 257us/step - loss: 0.5426 - accuracy: 0.7352
Epoch 81/100
804/804 [==============================] - 0s 258us/step - loss: 0.5425 - accuracy: 0.7367
Epoch 82/100
804/804 [==============================] - 0s 258us/step - loss: 0.5426 - accuracy: 0.7358
Epoch 83/100
804/804 [==============================] - 0s 256us/step - loss: 0.5423 - accuracy: 0.7362
Epoch 84/100
804/804 [==============================] - 0s 258us/step - loss: 0.5424 - accuracy: 0.7360
Epoch 85/100
804/804 [==============================] - 0s 257us/step - loss: 0.5425 - accuracy: 0.7353
Epoch 86/100
804/804 [==============================] - 0s 258us/step - loss: 0.5424 - accuracy: 0.7353
Epoch 87/100
804/804 [==============================] - 0s 257us/step - loss: 0.5423 - accuracy: 0.7356
Epoch 88/100
804/804 [==============================] - 0s 256us/step - loss: 0.5423 - accuracy: 0.7363
Epoch 89/100
804/804 [==============================] - 0s 257us/step - loss: 0.5423 - accuracy: 0.7357
Epoch 90/100
804/804 [==============================] - 0s 257us/step - loss: 0.5421 - accuracy: 0.7363
Epoch 91/100
804/804 [==============================] - 0s 256us/step - loss: 0.5421 - accuracy: 0.7359
Epoch 92/100
804/804 [==============================] - 0s 255us/step - loss: 0.5422 - accuracy: 0.7359
Epoch 93/100
804/804 [==============================] - 0s 256us/step - loss: 0.5418 - accuracy: 0.7366
Epoch 94/100
804/804 [==============================] - 0s 258us/step - loss: 0.5418 - accuracy: 0.7357
Epoch 95/100
804/804 [==============================] - 0s 257us/step - loss: 0.5417 - accuracy: 0.7355
Epoch 96/100
804/804 [==============================] - 0s 257us/step - loss: 0.5419 - accuracy: 0.7355
Epoch 97/100
804/804 [==============================] - 0s 256us/step - loss: 0.5420 - accuracy: 0.7357
Epoch 98/100
804/804 [==============================] - 0s 257us/step - loss: 0.5418 - accuracy: 0.7368
Epoch 99/100
804/804 [==============================] - 0s 256us/step - loss: 0.5419 - accuracy: 0.7360
Epoch 100/100
804/804 [==============================] - 0s 257us/step - loss: 0.5421 - accuracy: 0.7357

In [16]:

# Evaluate the model using the test data (SECOND ATTEMPT)
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5516 - accuracy: 0.7319 - 92ms/epoch - 343us/step
Loss: 0.5515581369400024, Accuracy: 0.7318950295448303

In [20]:
# Export our model to HDF5 file

nn.save('Models/AlphabetSoupCharity2.h5')

/Users/toobaahmad/anaconda3/lib/python3.10/site-packages/keras/src/engine/training.py:3000: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(

In [27]:
# (THIRD ATTEMPT - ACCURACY 72%)
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
input_features_total = len(X_train[0])
hidden_nodes_layer1 = 10
hidden_nodes_layer2 = 19

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim = input_features_total, activation = "tanh"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation = "relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="relu"))

# Check the structure of the model
nn.summary()

Model: "sequential_3"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_9 (Dense)             (None, 10)                400

 dense_10 (Dense)            (None, 19)                209

 dense_11 (Dense)            (None, 1)                 20

=================================================================
Total params: 629 (2.46 KB)
Trainable params: 629 (2.46 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [28]:

# Compile the model (THIRD ATTEMPT)
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [29]:

# Train the model (THIRD ATTEMPT)
fit_model = nn.fit(X_train_scaled,y_train,epochs=100)

Epoch 1/100
804/804 [==============================] - 0s 299us/step - loss: 1.6716 - accuracy: 0.5856
Epoch 2/100
804/804 [==============================] - 0s 298us/step - loss: 0.6557 - accuracy: 0.6768
Epoch 3/100
804/804 [==============================] - 0s 289us/step - loss: 0.6197 - accuracy: 0.6962
Epoch 4/100
804/804 [==============================] - 0s 287us/step - loss: 0.6009 - accuracy: 0.7186
Epoch 5/100
804/804 [==============================] - 0s 286us/step - loss: 0.5791 - accuracy: 0.7190
Epoch 6/100
804/804 [==============================] - 0s 288us/step - loss: 0.5663 - accuracy: 0.7242
Epoch 7/100
804/804 [==============================] - 0s 288us/step - loss: 0.5634 - accuracy: 0.7245
Epoch 8/100
804/804 [==============================] - 0s 288us/step - loss: 0.5616 - accuracy: 0.7268
Epoch 9/100
804/804 [==============================] - 0s 288us/step - loss: 0.5712 - accuracy: 0.7208
Epoch 10/100
804/804 [==============================] - 0s 287us/step - loss: 0.5596 - accuracy: 0.7272
Epoch 11/100
804/804 [==============================] - 0s 287us/step - loss: 0.5632 - accuracy: 0.7274
Epoch 12/100
804/804 [==============================] - 0s 291us/step - loss: 0.5683 - accuracy: 0.7252
Epoch 13/100
804/804 [==============================] - 0s 288us/step - loss: 0.5682 - accuracy: 0.7226
Epoch 14/100
804/804 [==============================] - 0s 289us/step - loss: 0.5579 - accuracy: 0.7295
Epoch 15/100
804/804 [==============================] - 0s 289us/step - loss: 0.5546 - accuracy: 0.7291
Epoch 16/100
804/804 [==============================] - 0s 288us/step - loss: 0.5558 - accuracy: 0.7293
Epoch 17/100
804/804 [==============================] - 0s 289us/step - loss: 0.5705 - accuracy: 0.7222
Epoch 18/100
804/804 [==============================] - 0s 287us/step - loss: 0.5542 - accuracy: 0.7285
Epoch 19/100
804/804 [==============================] - 0s 288us/step - loss: 0.5526 - accuracy: 0.7291
Epoch 20/100
804/804 [==============================] - 0s 288us/step - loss: 0.5541 - accuracy: 0.7286
Epoch 21/100
804/804 [==============================] - 0s 286us/step - loss: 0.5567 - accuracy: 0.7261
Epoch 22/100
804/804 [==============================] - 0s 287us/step - loss: 0.5555 - accuracy: 0.7293
Epoch 23/100
804/804 [==============================] - 0s 287us/step - loss: 0.5525 - accuracy: 0.7294
Epoch 24/100
804/804 [==============================] - 0s 288us/step - loss: 0.5518 - accuracy: 0.7307
Epoch 25/100
804/804 [==============================] - 0s 287us/step - loss: 0.5533 - accuracy: 0.7297
Epoch 26/100
804/804 [==============================] - 0s 288us/step - loss: 0.5611 - accuracy: 0.7286
Epoch 27/100
804/804 [==============================] - 0s 288us/step - loss: 0.5522 - accuracy: 0.7311
Epoch 28/100
804/804 [==============================] - 0s 287us/step - loss: 0.5507 - accuracy: 0.7314
Epoch 29/100
804/804 [==============================] - 0s 288us/step - loss: 0.5514 - accuracy: 0.7312
Epoch 30/100
804/804 [==============================] - 0s 286us/step - loss: 0.5522 - accuracy: 0.7303
Epoch 31/100
804/804 [==============================] - 0s 287us/step - loss: 0.5497 - accuracy: 0.7304
Epoch 32/100
804/804 [==============================] - 0s 288us/step - loss: 0.5517 - accuracy: 0.7320
Epoch 33/100
804/804 [==============================] - 0s 288us/step - loss: 0.5500 - accuracy: 0.7313
Epoch 34/100
804/804 [==============================] - 0s 286us/step - loss: 0.5517 - accuracy: 0.7288
Epoch 35/100
804/804 [==============================] - 0s 287us/step - loss: 0.5527 - accuracy: 0.7317
Epoch 36/100
804/804 [==============================] - 0s 288us/step - loss: 0.5485 - accuracy: 0.7314
Epoch 37/100
804/804 [==============================] - 0s 288us/step - loss: 0.5486 - accuracy: 0.7321
Epoch 38/100
804/804 [==============================] - 0s 288us/step - loss: 0.5522 - accuracy: 0.7320
Epoch 39/100
804/804 [==============================] - 0s 288us/step - loss: 0.5506 - accuracy: 0.7320
Epoch 40/100
804/804 [==============================] - 0s 287us/step - loss: 0.5496 - accuracy: 0.7324
Epoch 41/100
804/804 [==============================] - 0s 286us/step - loss: 0.5476 - accuracy: 0.7315
Epoch 42/100
804/804 [==============================] - 0s 287us/step - loss: 0.5505 - accuracy: 0.7317
Epoch 43/100
804/804 [==============================] - 0s 286us/step - loss: 0.5498 - accuracy: 0.7325
Epoch 44/100
804/804 [==============================] - 0s 287us/step - loss: 0.5476 - accuracy: 0.7326
Epoch 45/100
804/804 [==============================] - 0s 287us/step - loss: 0.5505 - accuracy: 0.7330
Epoch 46/100
804/804 [==============================] - 0s 286us/step - loss: 0.5471 - accuracy: 0.7327
Epoch 47/100
804/804 [==============================] - 0s 285us/step - loss: 0.5502 - accuracy: 0.7331
Epoch 48/100
804/804 [==============================] - 0s 288us/step - loss: 0.5548 - accuracy: 0.7310
Epoch 49/100
804/804 [==============================] - 0s 287us/step - loss: 0.5517 - accuracy: 0.7325
Epoch 50/100
804/804 [==============================] - 0s 288us/step - loss: 0.5492 - accuracy: 0.7336
Epoch 51/100
804/804 [==============================] - 0s 287us/step - loss: 0.5469 - accuracy: 0.7322
Epoch 52/100
804/804 [==============================] - 0s 287us/step - loss: 0.5468 - accuracy: 0.7335
Epoch 53/100
804/804 [==============================] - 0s 284us/step - loss: 0.5506 - accuracy: 0.7325
Epoch 54/100
804/804 [==============================] - 0s 287us/step - loss: 0.5476 - accuracy: 0.7333
Epoch 55/100
804/804 [==============================] - 0s 288us/step - loss: 0.5463 - accuracy: 0.7320
Epoch 56/100
804/804 [==============================] - 0s 287us/step - loss: 0.5490 - accuracy: 0.7338
Epoch 57/100
804/804 [==============================] - 0s 286us/step - loss: 0.5468 - accuracy: 0.7339
Epoch 58/100
804/804 [==============================] - 0s 288us/step - loss: 0.5456 - accuracy: 0.7329
Epoch 59/100
804/804 [==============================] - 0s 292us/step - loss: 0.5474 - accuracy: 0.7330
Epoch 60/100
804/804 [==============================] - 0s 287us/step - loss: 0.5560 - accuracy: 0.7299
Epoch 61/100
804/804 [==============================] - 0s 287us/step - loss: 0.5535 - accuracy: 0.7317
Epoch 62/100
804/804 [==============================] - 0s 287us/step - loss: 0.5486 - accuracy: 0.7330
Epoch 63/100
804/804 [==============================] - 0s 289us/step - loss: 0.5470 - accuracy: 0.7320
Epoch 64/100
804/804 [==============================] - 0s 287us/step - loss: 0.5460 - accuracy: 0.7329
Epoch 65/100
804/804 [==============================] - 0s 287us/step - loss: 0.5459 - accuracy: 0.7325
Epoch 66/100
804/804 [==============================] - 0s 287us/step - loss: 0.5458 - accuracy: 0.7322
Epoch 67/100
804/804 [==============================] - 0s 286us/step - loss: 0.5462 - accuracy: 0.7334
Epoch 68/100
804/804 [==============================] - 0s 286us/step - loss: 0.5456 - accuracy: 0.7340
Epoch 69/100
804/804 [==============================] - 0s 288us/step - loss: 0.5472 - accuracy: 0.7340
Epoch 70/100
804/804 [==============================] - 0s 299us/step - loss: 0.5568 - accuracy: 0.7329
Epoch 71/100
804/804 [==============================] - 0s 292us/step - loss: 0.5488 - accuracy: 0.7315
Epoch 72/100
804/804 [==============================] - 0s 288us/step - loss: 0.5477 - accuracy: 0.7327
Epoch 73/100
804/804 [==============================] - 0s 286us/step - loss: 0.5454 - accuracy: 0.7343
Epoch 74/100
804/804 [==============================] - 0s 287us/step - loss: 0.5474 - accuracy: 0.7337
Epoch 75/100
804/804 [==============================] - 0s 290us/step - loss: 0.5465 - accuracy: 0.7327
Epoch 76/100
804/804 [==============================] - 0s 287us/step - loss: 0.5460 - accuracy: 0.7333
Epoch 77/100
804/804 [==============================] - 0s 288us/step - loss: 0.5457 - accuracy: 0.7334
Epoch 78/100
804/804 [==============================] - 0s 287us/step - loss: 0.5462 - accuracy: 0.7321
Epoch 79/100

804/804 [==============================] - 0s 285us/step - loss: 0.5459 - accuracy: 0.7337
Epoch 80/100
804/804 [==============================] - 0s 287us/step - loss: 0.5459 - accuracy: 0.7341
Epoch 81/100
804/804 [==============================] - 0s 288us/step - loss: 0.5461 - accuracy: 0.7339
Epoch 82/100
804/804 [==============================] - 0s 336us/step - loss: 0.5456 - accuracy: 0.7339
Epoch 83/100
804/804 [==============================] - 0s 289us/step - loss: 0.5482 - accuracy: 0.7328
Epoch 84/100
804/804 [==============================] - 0s 288us/step - loss: 0.5493 - accuracy: 0.7329
Epoch 85/100
804/804 [==============================] - 0s 289us/step - loss: 0.5493 - accuracy: 0.7333
Epoch 86/100
804/804 [==============================] - 0s 287us/step - loss: 0.5477 - accuracy: 0.7332
Epoch 87/100
804/804 [==============================] - 0s 286us/step - loss: 0.5472 - accuracy: 0.7321
Epoch 88/100
804/804 [==============================] - 0s 287us/step - loss: 0.5451 - accuracy: 0.7334
Epoch 89/100
804/804 [==============================] - 0s 290us/step - loss: 0.5489 - accuracy: 0.7319
Epoch 90/100
804/804 [==============================] - 0s 285us/step - loss: 0.5469 - accuracy: 0.7326
Epoch 91/100
804/804 [==============================] - 0s 284us/step - loss: 0.5449 - accuracy: 0.7343
Epoch 92/100
804/804 [==============================] - 0s 293us/step - loss: 0.5477 - accuracy: 0.7345
Epoch 93/100
804/804 [==============================] - 0s 293us/step - loss: 0.5484 - accuracy: 0.7331
Epoch 94/100
804/804 [==============================] - 0s 286us/step - loss: 0.5455 - accuracy: 0.7335
Epoch 95/100
804/804 [==============================] - 0s 285us/step - loss: 0.5443 - accuracy: 0.7340
Epoch 96/100
804/804 [==============================] - 0s 284us/step - loss: 0.5437 - accuracy: 0.7346
Epoch 97/100
804/804 [==============================] - 0s 283us/step - loss: 0.5443 - accuracy: 0.7346
Epoch 98/100
804/804 [==============================] - 0s 281us/step - loss: 0.5443 - accuracy: 0.7331
Epoch 99/100
804/804 [==============================] - 0s 278us/step - loss: 0.5472 - accuracy: 0.7337
Epoch 100/100
804/804 [==============================] - 0s 279us/step - loss: 0.5470 - accuracy: 0.7341

In [30]:

# Evaluate the model using the test data (THIRD ATTEMPT)
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5560 - accuracy: 0.7348 - 97ms/epoch - 363us/step
Loss: 0.5559651255607605, Accuracy: 0.734810471534729

In [26]:
# Export our model to HDF5 file

nn.save('Models/AlphabetSoupCharity3.h5')